---
import { SignUp } from "astro-clerk-auth/components/interactive";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Welcome to Astro + Clerk">
  <div>
    <SignUp />
  </div>
</Layout>

<style>
  div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
